{%extends 'base.html'%}
{%block title%}Homepage{%endblock%}
{%block body%}
    <h1>Create a job:</h1>
    <form action="" method="POST">
        <input id="title" name="title" type="text" placeholder="Job title"/>
        <input id="company_name" name="company_name" type="text" placeholder="Company name"/>
        <input id="company_email" name="company_email" type="email" placeholder="Company email"/>
        <textarea id="description" name="description" placeholder="Job description"></textarea>

        <div class="form-check">
            <input value="high school" class="form-check-input" type="radio" name="education" id="high_school">
            <label class="form-check-label" for="high_school">
                High School
            </label>
        </div>
        <div class="form-check">
            <input value="bachelors degree" class="form-check-input" type="radio" name="education" id="bachelor">
            <label class="form-check-label" for="bachelor">
                Bachelor's degree
            </label>
        </div>
        <div class="form-check">
            <input value="masters degree" class="form-check-input" type="radio" name="education" id="master">
            <label class="form-check-label" for="master">
                Master's degree
            </label>
        </div>
        <div class="form-check">
            <input value="phd" class="form-check-input" type="radio" name="education" id="phd">
            <label class="form-check-label" for="phd">
                PHD
            </label>
        </div>

        <label for="skills">Required skills (use ctrl to select multiple, max 5):</label>
        <select class="form-select" name="skills" id="skills" multiple aria-label="select skills">
            <option value="azure">Azure</option>
            <option value="aws">AWS</option>
            <option value="gwp">GWP</option>
            <option value="sql">SQL</option>
            <option value="python">Python</option>
            <option value="flask">Flask</option>
            <option value="jinja2">Jinja2</option>
            <option value="project management">Project Management</option>
            <option value="microsoft office">Microsoft Office</option>
            <option value="burp suite">Burp Suite</option>
            <option value="nessus">Nessus</option>
        </select>

        <input id="yoe" name="yoe" type="number" placeholder="Required years of experience"/>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="work_mode" id="remote" value="remote">
            <label class="form-check-label" for="remote">
                Remote
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="work_mode" id="on_site" value="on-site">
            <label class="form-check-label" for="on_site">
                On-site
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="work_mode" id="hybrid" value="hybrid">
            <label class="form-check-label" for="hybrid">
                Hybrid
            </label>
        </div>

        <select id="location" name="location">
            <option value="" disabled selected>Prefered Location</option>
            <option value="Sydney">Sydney</option>
            <option value="Melbourne">Melbourne</option>
            <option value="Adelaide">Adelaide</option>
            <option value="Perth">Perth</option>
            <option value="Canberra">Canberra</option>
            <option value="Hobart">Hobart</option>
        </select>

        <button class="btn btn-primary" type="submit">Create job</button>
    </form>

    <hr />

    <h1>Jobs you created:</h1>
    <ul>
        {% for job in jobs %}
            <!-- show job title with clickable link to view full job posting -->
            <li><a href="{{ url_for('job_details', job_id=job.id) }}">{{ job.title }}</a></li>
        {% endfor %}
    </ul>
{%endblock%}