{%extends 'base.html'%}
{%block title%}Create Job{%endblock%}
{%block body%}
    <h1>Create a job:</h1>
    <form action="" method="POST">
        <input class="form-control" id="title" name="title" type="text" placeholder="Job title" required/>
        <br/>
        <input class="form-control" id="company_name" name="company_name" type="text" placeholder="Company name" required/>
        <br/>
        <input class="form-control" id="company_email" name="company_email" type="email" placeholder="Company email" required/>
        <br/>
        <textarea class="form-control" rows="3" id="description" name="description" placeholder="Job description" required></textarea>
        <br/>

        <label for="education">Required Education:</label>
        <div class="form-check">
            <input value="high school" class="form-check-input" type="radio" name="education" id="high_school" required>
            <label class="form-check-label" for="high_school">
                High School
            </label>
        </div>
        <div class="form-check">
            <input value="bachelors degree" class="form-check-input" type="radio" name="education" id="bachelor" required>
            <label class="form-check-label" for="bachelor">
                Bachelor's degree
            </label>
        </div>
        <div class="form-check">
            <input value="masters degree" class="form-check-input" type="radio" name="education" id="master" required>
            <label class="form-check-label" for="master">
                Master's degree
            </label>
        </div>
        <div class="form-check">
            <input value="phd" class="form-check-input" type="radio" name="education" id="phd" required>
            <label class="form-check-label" for="phd">
                PHD
            </label>
        </div>

        <br/>

        <label for="skills">Required skills (use ctrl to select multiple, max 5):</label>
        <select class="form-select" name="skills" id="skills" multiple aria-label="select skills" required>
            {% for skill in skills %}
                <option value="{{skill.name}}">{{skill.name}}</option>
            {% endfor %}
        </select>

        <br/>

        <input class="form-control" id="yoe" name="yoe" type="number" placeholder="Required years of experience" required/>

        <br/>

        <label for="work_mode">Work mode:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="work_mode" id="remote" value="remote" required>
            <label class="form-check-label" for="remote">
                Remote
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="work_mode" id="on_site" value="on-site" required>
            <label class="form-check-label" for="on_site">
                On-site
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="work_mode" id="hybrid" value="hybrid" required>
            <label class="form-check-label" for="hybrid">
                Hybrid
            </label>
        </div>

        <br/>

        <select class="form-select" id="location" name="location" required>
            <option value="" disabled selected>Prefered Location</option>
            <option value="Sydney">Sydney</option>
            <option value="Melbourne">Melbourne</option>
            <option value="Adelaide">Adelaide</option>
            <option value="Perth">Perth</option>
            <option value="Canberra">Canberra</option>
            <option value="Hobart">Hobart</option>
        </select>

        <br/>
        
        <button class="btn btn-primary" type="submit">Create job</button>
    </form>

    <hr />

    <h1>Jobs you created:</h1>
    <ul>
        {% for job in jobs %}
            <!-- show job title with clickable link to view full job posting -->
            <li><a href="{{ url_for('job_details', posting_id=job.id) }}">{{ job.title }}</a></li>
        {% endfor %}
    </ul>
{%endblock%}