{%extends 'base.html'%}
{%block title%}Job Board{%endblock%}
{%block body%}
    <h1>Job title: {{ posting.title }}</h1>
    <p><strong>Company:</strong> {{ posting.company_name }}</p>
    <p><strong>Email:</strong> {{ posting.company_email }}</p>
    <p><strong>Description:</strong> {{ posting.description }}</p>
    <p><strong>Education requirement:</strong> {{ posting.education }}</p>

    <p><strong>Required skills:</strong> 
        {% for skill in posting.skills %}{{ skill.name }}, {% endfor %}
    </p>
    
    <p><strong>Years of experience required:</strong> {{ posting.yoe }}</p>
    <p><strong>Work mode:</strong> {{ posting.work_mode }}</p>
    <p><strong>Location:</strong> {{ posting.location }}</p>

    <hr>
    <h1>Best seekers for this job:</h1>
    <ul>
    {% for seeker in best_seekers %}
        <li><b>{{seeker.name}} (Match score: {{seeker.match_score}}/100)</b><br/>
            Email: {{seeker.email}}<br/>
            Education: {{seeker.education}}<br/>
            Skills: {% for skill in seeker.skills %}{{ skill.name }}, {% endfor %}<br/>
            Years of experience: {{seeker.yoe}}<br/>
            Prefered work mode: {{seeker.prefered_work_mode}}<br/>
            Prefered location: {{seeker.prefered_location}}<br/><br/>
        </li>
    {% endfor %}
{%endblock%}