{%extends 'base.html'%}
{%block title%}Job Board{%endblock%}
{%block body%}
    <h1>All jobs:</h1>
    <form method="get">
        <input class="form-control" type="text" id="desc-search" name="desc_search" placeholder="Search (based on job description)">
        <br/>
        <button class="btn btn-primary" type="submit">Search</button>
        <button class="btn btn-danger" type="reset, submit">Reset</button>
    </form>
    <br/>
    <ul>
    {% for posting in all_postings %}
        <li><a href="{{ url_for('job_details', posting_id=posting.id) }}">{{posting.title}}</a></li>
        <p>Company name: {{posting.company_name}} <br/>
        Description: {{posting.description}}</p>
    {% endfor %}
    </ul>

    <hr>
    
    <h1>Best jobs for you:</h1>
    <ul>
    {% for posting in best_postings %}
        <li><a href="{{ url_for('job_details', posting_id=posting.id) }}">{{posting.title}}</a>  (Match score: {{posting.match_score}}/100) <br/>
            Company name: {{posting.company_name}}<br/>
            Description: {{posting.description}}<br/><br/>
        </li>
    {% endfor %}
    </ul>
{%endblock%}