{%extends 'base.html'%}
{%block title%}Job Board{%endblock%}
{%block body%}
    <h1>Job title: {{ job.title }}</h1>
    <p><strong>Company:</strong> {{ job.company_name }}</p>
    <p><strong>Email:</strong> {{ job.company_email }}</p>
    <p><strong>Description:</strong> {{ job.description }}</p>
    <p><strong>Education requirement:</strong> {{ job.education }}</p>
    <p><strong>Required skills:</strong> {{ job.skills }}</p>
    <p><strong>Years of experience required:</strong> {{ job.yoe }}</p>
    <p><strong>Work mode:</strong> {{ job.work_mode }}</p>
    <p><strong>Location:</strong> {{ job.location }}</p>
{%endblock%}