{%extends 'base.html'%}
{%block title%}Sign up as job seeker{%endblock%}
{%block body%}
    <h1>Job Seeker Sign Up</h1>
    <form action="" method="POST">
        <input class="form-control" id="email" name="email" type="email" placeholder="Email" required/>
        <br/>
        <input class="form-control" id="name" name="name" type="text" placeholder="Full name" required/>
        <br/>

        <input class="form-control" id="password" name="password" type="password" placeholder="Password" required/>
        <br/>

        <select class="form-select" id="education" name="education" required>
            <option value="" disabled selected>Education</option>
            <option value="high school">High School</option>
            <option value="bachelors degree">Bachelor's Degree</option>
            <option value="masters degree">Master's Degree</option>
            <option value="phd">PhD</option>
        </select>
        <br/>
        <input class="form-control" id="major" name="major" type="text" placeholder="Major" required/>
        <br/>
        <input class="form-control" id="yoe" name="yoe" type="number" placeholder="Years of Experience" required/>
        <br/>

        <label for="skills">Skills (use ctrl to select multiple, max 5):</label>
        <select class="form-select" name="skills" id="skills" multiple aria-label="select skills" required>
            {% for skill in skills %}
                <option value="{{skill.name}}">{{skill.name}}</option>
            {% endfor %}
        </select>
        <br/>
        <select class="form-select" id="prefered_work_mode" name="prefered_work_mode" required>
            <option value="" disabled selected>Prefered Work Mode</option>
            <option value="remote">Remote</option>
            <option value="on-site">On-site</option>
            <option value="hybrid">Hybrid</option>
        </select>
        <br/>
        <select class="form-select" id="prefered_location" name="prefered_location" required>
            <option value="" disabled selected>Prefered Location</option>
            <option value="Sydney">Sydney</option>
            <option value="Melbourne">Melbourne</option>
            <option value="Adelaide">Adelaide</option>
            <option value="Perth">Perth</option>
            <option value="Canberra">Canberra</option>
            <option value="Hobart">Hobart</option>
        </select>
        <br/>
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
    <a href="{{url_for('login_seeker')}}">Login instead</a>
{%endblock%}