{%extends 'base.html'%}
{%block title%}Talent Board{%endblock%}
{%block body%}
    <h1>Browse our talent pool:</h1>
    <form method="get">
        <input class="form-control" id="keyword" name="keyword" type="text" placeholder="Keyword" value="{{request.args.get('keyword', '')}}"/>

        <br/>

        <select class="form-select" id="education" name="education">
            <option value="" disabled {{ 'selected' if not education else '' }}>Education</option>
            <option value="high school" {{'selected' if request.args.get('education') == 'high school' else ''}}>High School</option>
            <option value="bachelors degree" {{'selected' if request.args.get('education') == 'bachelors degree' else ''}}>Bachelor's Degree</option>
            <option value="masters degree" {{'selected' if request.args.get('education') == 'masters degree' else ''}}>Master's Degree</option>
            <option value="phd" {{'selected' if request.args.get('education') == 'phd' else ''}}>PhD</option>
        </select>

        <br/>

        <select class="form-select" name="skills" id="skills" aria-label="skill">
            <option value="" disabled {{ 'selected' if not request.args.get('skills') else '' }}>Skill</option>
            {% for skill in skills %}
                <option value="{{skill.name}}" {{'selected' if request.args.get('skills') == skill.name else ''}}>{{skill.name}}</option>
            {% endfor %}
        </select>

        <br/>

        <input class="form-control" id="yoe" name="yoe" type="number" placeholder="Years of Experience" value="{{request.args.get('yoe', '')}}"/>

        <br/>

        <button class="btn btn-primary" type="submit">Search</button>
        <a class="btn btn-outline-danger" href="{{ url_for('talent_board') }}">Reset</a>
    </form>
    <br />
    <ul>
    {% for seeker in seekers %}
        <li><b>{{seeker.name}}</b></li>
        <p>{{seeker.email}} <br/>
            Education level: {{seeker.education}}<br/>
            Major: {{seeker.major}}<br/>
            YOE: {{seeker.yoe}}<br/>
            Skills: {% for skill in seeker.skills %}
                {{skill.name}}, 
            {% endfor %}<br/>
            Prefered location: {{seeker.prefered_location}}<br/>
            Prefered work mode: {{seeker.prefered_work_mode}}<br/>
        </p>
    {% endfor %}
    </ul>
{%endblock%}