{%extends 'base.html'%}
{%block title%}Talent Board{%endblock%}
{%block body%}
    <h1>Browse our talent pool:</h1>
    <form method="get">
        <input id="keyword" name="keyword" type="text" placeholder="Keyword search"/>
        <!-- search based on skill, education, experience -->

        <select id="education" name="education">
            <option value="" disabled selected>Education</option>
            <option value="high school">High School</option>
            <option value="bachelors degree">Bachelor's Degree</option>
            <option value="masters degree">Master's Degree</option>
            <option value="phd">PhD</option>
        </select>

        <select class="form-select" name="skills" id="skills" aria-label="select skills">
            <option value="" disabled selected>Skill</option>
            {% for skill in skills %}
                <option value="{{skill.name}}">{{skill.name}}</option>
            {% endfor %}
        </select>

        <input id="yoe" name="yoe" type="number" placeholder="Years of Experience"/>

        <button class="btn btn-primary" type="submit">Search</button>
        <button class="btn btn-danger" type="reset, submit">Reset</button>
    </form>
    <ul>
    {% for seeker in seekers %}
        <li>{{seeker.name}}</li>
        <p>{{seeker.email}} <br/>
            Education level: {{seeker.education}}<br/>
            Major: {{seeker.major}}<br/>
            YOE: {{seeker.yoe}}<br/>
            Skills: {% for skill in seeker.skills %}
                {{skill.name}}, 
            {% endfor %}<br/>
            Prefered location: {{seeker.prefered_location}}<br/>
            Prefered work mode: {{seeker.prefered_work_mode}}<br/>
        </p>
    {% endfor %}
    </ul>
{%endblock%}